interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/wsdl/IrmInboundMediation_MTPLPolicyWSExport.wsdl
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions\
        \ name=\"MTPLPolicyWSExport_MTPLPolicyServiceHttp_Service\" targetNamespace=\"\
        http://guaranteefund.org/irm/wsdl/MTPLPolicyService/Binding\" xmlns:Port_0=\"\
        http://guaranteefund.org/irm/wsdl/MTPLPolicyService\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:this=\"http://guaranteefund.org/irm/wsdl/MTPLPolicyService/Binding\"\
        \ xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\">\n  <wsdl:import\
        \ namespace=\"http://guaranteefund.org/irm/wsdl/MTPLPolicyService\" location=\"\
        MTPLPolicyService.wsdl\">\n    </wsdl:import>\n  <wsdl:binding name=\"MTPLPolicyWSExport_MTPLPolicyServiceHttpBinding\"\
        \ type=\"Port_0:MTPLPolicyService\">\n    <soap:binding style=\"document\"\
        \ transport=\"http://schemas.xmlsoap.org/soap/http\"/>\n    <wsdl:operation\
        \ name=\"getBMCoefficient\">\n      <soap:operation soapAction=\"\"/>\n  \
        \    <wsdl:input name=\"getBMCoefficientRequest\">\n        <soap:body use=\"\
        literal\"/>\n      </wsdl:input>\n      <wsdl:output name=\"getBMCoefficientResponse\"\
        >\n        <soap:body use=\"literal\"/>\n      </wsdl:output>\n      <wsdl:fault\
        \ name=\"fault\">\n        <soap:fault name=\"fault\" use=\"literal\"/>\n\
        \      </wsdl:fault>\n    </wsdl:operation>\n    <wsdl:operation name=\"validateMTPLPolicy\"\
        >\n      <soap:operation soapAction=\"\"/>\n      <wsdl:input name=\"validateMTPLPolicyRequest\"\
        >\n        <soap:body use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output\
        \ name=\"validateMTPLPolicyResponse\">\n        <soap:body use=\"literal\"\
        />\n      </wsdl:output>\n      <wsdl:fault name=\"fault\">\n        <soap:fault\
        \ name=\"fault\" use=\"literal\"/>\n      </wsdl:fault>\n    </wsdl:operation>\n\
        \    <wsdl:operation name=\"issueMTPLPolicy\">\n      <soap:operation soapAction=\"\
        \"/>\n      <wsdl:input name=\"issueMTPLPolicyRequest\">\n        <soap:body\
        \ use=\"literal\"/>\n      </wsdl:input>\n      <wsdl:output name=\"issueMTPLPolicyResponse\"\
        >\n        <soap:body use=\"literal\"/>\n      </wsdl:output>\n      <wsdl:fault\
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/wsdl/MTPLPolicyService.wsdl
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<wsdl:definitions\
        \ name=\"MTPLPolicyServiceNew\" targetNamespace=\"http://guaranteefund.org/irm/wsdl/MTPLPolicyService\"\
        \ xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:tns=\"http://guaranteefund.org/irm/wsdl/MTPLPolicyService\" xmlns:bons1=\"\
        http://guaranteefund.org/irm/bo/wsdl\">\n  <wsdl:types>\n    <xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/wsdl/MTPLPolicyService\">\n            <xsd:import\
        \ namespace=\"http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"../bo/wsdl/UpdateMTPLPolicyRequest.xsd\"\
        />\n            <xsd:import namespace=\"http://guaranteefund.org/irm/bo/wsdl\"\
        \ schemaLocation=\"../bo/wsdl/VoidMTPLPolicyRequest.xsd\"/>\n            <xsd:import\
        \ namespace=\"http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"../bo/wsdl/RegisterStickerRequest.xsd\"\
        />\n            <xsd:import namespace=\"http://guaranteefund.org/irm/bo/wsdl\"\
        \ schemaLocation=\"../bo/wsdl/CorrectMTPLPolicyRequest.xsd\"/>\n         \
        \   <xsd:import namespace=\"http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"\
        ../bo/wsdl/ValidateMTPLPolicyRequest.xsd\"/>\n            <xsd:import namespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"../bo/wsdl/CancelMTPLPolicyRequest.xsd\"\
        />\n            <xsd:import namespace=\"http://guaranteefund.org/irm/bo/wsdl\"\
        \ schemaLocation=\"../bo/wsdl/GetBMCoefficientRequest.xsd\"/>\n          \
        \  <xsd:import namespace=\"http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"\
        ../bo/wsdl/RequestConfirmationResponse.xsd\"/>\n            <xsd:import namespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\" schemaLocation=\"../bo/wsdl/IssueMTPLPolicyRequest.xsd\"\
        />\n      <xsd:element name=\"getBMCoefficient\">\n        <xsd:complexType>\n\
        \          <xsd:sequence>\n            <xsd:element name=\"getBMCoefficientIn\"\
        \ nillable=\"true\" type=\"bons1:GetBMCoefficientRequest\">\n            \
        \  <xsd:annotation>\n                \n              </xsd:annotation>\n \
        \           </xsd:element>\n          </xsd:sequence>\n        </xsd:complexType>\n\
        \      </xsd:element>\n      <xsd:element name=\"getBMCoefficientResponse\"\
        >\n        <xsd:complexType>\n          <xsd:sequence>\n            <xsd:element\
        \ name=\"requestConfirmationOut\" nillable=\"true\" type=\"bons1:RequestConfirmationResponse\"\
        />\n          </xsd:sequence>\n        </xsd:complexType>\n      </xsd:element>\n\
        \      <xsd:element name=\"operation1Fault1_fault\" nillable=\"true\" type=\"\
        xsd:string\"/>\n      <xsd:element name=\"validateMTPLPolicy\">\n        <xsd:complexType>\n\
        \          <xsd:sequence>\n            <xsd:element name=\"validateMTPLPolicyIn\"\
        \ nillable=\"true\" type=\"bons1:ValidateMTPLPolicyRequest\">\n          \
        \    <xsd:annotation>\n                \n              </xsd:annotation>\n\
        \            </xsd:element>\n          </xsd:sequence>\n        </xsd:complexType>\n\
        \      </xsd:element>\n      <xsd:element name=\"v[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/UpdateMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons0=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocation=\"\
        ../common/BussinessObjects.xsd\"\r\n\t\tnamespace=\"http://guaranteefund.org/irm/bo/common\"\
        >\r\n\t</xsd:import>\r\n\r\n\t<xsd:complexType name=\"UpdateMTPLPolicyRequest\"\
        >\r\n\t\t<xsd:sequence>\r\n\t\t\t<xsd:element minOccurs=\"1\" name=\"upn\"\
        \ type=\"xsd:string\">\r\n\t\t\t\t<xsd:annotation>\r\n          <xsd:documentation>\u041D\
        \u043E\u043C\u0435\u0440 \u043D\u0430 \u043F\u043E\u043B\u0438\u0446\u0430\
        .</xsd:documentation>\r\n        </xsd:annotation>\r\n\t\t\t</xsd:element>\r\
        \n\t\t\t<xsd:element minOccurs=\"0\" name=\"holder\"\r\n\t\t\t\ttype=\"bons0:Person\"\
        >\r\n\t\t\t\t<xsd:annotation>\r\n          <xsd:documentation>\u041E\u0431\
        \u0438\u0447\u0430\u0435\u043D \u0432\u043E\u0434\u0430\u0447/\u0434\u044A\
        \u0440\u0436\u0430\u0442\u0435\u043B.</xsd:document[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/common/BussinessObjects.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/common\"\r\n\txmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \r\n\txmlns:bons=\"http://guaranteefund.org/irm/bo/common\">\r\n\t<complexType\
        \ name=\"MTPLPolicy\">\r\n\t\t<sequence>\r\n\t\t\t<element name=\"insuranceType\"\
        \ type=\"string\">\r\n\t\t\t\t<annotation>\r\n\t\t\t\t\t<documentation>\r\n\
        \t\t\t\t\t\t\u041A\u043E\u0434 \u043D\u0430 \u0432\u0438\u0434 \u0437\u0430\
        \u0441\u0442\u0440\u0430\u0445\u043E\u0432\u043A\u0430 - \u043F\u043E \u043D\
        \u043E\u043C\u0435\u043D\u043A\u043B\u0430\u0442\u0443\u0440\u0430.\r\n\t\t\
        \t\t\t\t\u0412\u0430\u043B\u0438\u0434\u043D\u0438\r\n\t\t\t\t\t\t\u0441\u0442\
        \u043E\u0439\u043D\u043E\u0441\u0442\u0438 \u0441\u0430 1 - \u0413\u041E \u0438\
        \ 5 - \u0437\u0430 \u0413\u041E \u0441 \u0434\u043E\u[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/VoidMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        >\r\n\t<xsd:complexType name=\"VoidMTPLPolicyRequest\">\r\n\t\t<xsd:sequence>\r\
        \n\t\t\t<xsd:element minOccurs=\"1\" name=\"upn\" type=\"xsd:string\">\r\n\
        \        <xsd:annotation>\r\n          <xsd:documentation>\u041D\u043E\u043C\
        \u0435\u0440 \u043D\u0430 \u043F\u043E\u043B\u0438\u0446\u0430.</xsd:documentation>\r\
        \n        </xsd:annotation>\r\n\t\t\t</xsd:element>\r\n\t\t</xsd:sequence>\r\
        \n\t</xsd:complexType>\r\n</xsd:schema>"}
    headers:
      Content-Language: [en-US]
      Content-Type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/RegisterStickerRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons0=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/CorrectMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons0=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/ValidateMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons0=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocation=\"\
        ../common/BussinessObjects.xsd\"\r\n\t\tnamespace=\"http://guaranteefund.org/irm/bo/common\"\
        >\r\n\t</xsd:import>\r\n\r\n\r\n\t<xsd:complexType name=\"ValidateMTPLPolicyRequest\"\
        >\r\n\t\t<xsd:sequence>\r\n\t\t\t<xsd:element minOccurs=\"1\" name=\"policy\"\
        \r\n\t\t\t\ttype=\"bons0:MTPLPolicy\">\r\n\t\t\t\t<xsd:annotation>\r\n   \
        \       <xsd:documentation>\u041F\u043E\u043B\u0438\u0446\u0430.</xsd:documentation>\r\
        \n        </xsd:annotation>\r\n\t\t\t</xsd:element>\r\n\t\t\t<xsd:element\
        \ minOccurs=\"1\" name=\"sticker\"\r\n\t\t\t\ttype=\"bons0:Sticker\">\r\n\t\
        \t\t\t<xsd:annotation>\r\n          <xsd:documentation>\u0421\u0442\u0438\u043A\
        \u0435\u0440.</xsd:documentation>\r\n        </xsd:annotation>\r\n\t\t\t</xsd:element>\r\
        \n\t\t\t<xsd:element minOccurs=\"0\" name=\"bmCoefficient\"\r\n\t\t\t\ttype=\"\
        bons0:BMCoefficient\">\r\n\t\t\t</xsd:element>\r\n\t\t\t<xsd:element minOccurs=\"\
        0\" name=\"greenCard\"\r\n\t\t\t\ttype=\"bons0:GreenCard\">\r\n\t\t\t\t<xsd:annotation>\r\
        \n          <xsd:documentation>\u041F\u0440\u0438\u043B\u0435\u0436\u0430\u0449\
        \ \u0421\u0417\u041A.</xsd:documentation>\r\n        </xsd:annotation>\r\n\
        \t\t\t</xsd:element>\r\n\r\n\t\t</xsd:sequence>\r\n\t</xsd:complexType>\r\n\
        </xsd:schema>"}
    headers:
      Content-Language: [en-US]
      Content-Type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/CancelMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        >\r\n\t<xsd:complexType name=\"CancelMTPLPolicyRequest\">\r\n\t\t<xsd:sequence>\r\
        [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/GetBMCoefficientRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        >\r\n\t<xsd:complexType name=\"GetBMCoefficientRequest\">\r\n\t\t<xsd:sequence>\r\
        \n\t\t\t<[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/RequestConfirmationResponse.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons0=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocation=\"\
        ../common/BussinessObjects.xsd\"\r\n\t\tnamespace=\"http://guaranteefund.org/irm/bo/common\"\
        >\r\n\t</xsd:import>\r\n\t<xsd:complexType name=\"RequestConfirmationResponse\"\
        >\r\n\t\t<xsd:sequence>\r\n\t\t\t<xsd:element minOccurs=\"0\" name=\"correlationId\"\
        \r\n\t\t\t\ttype=\"xsd:string\">\r\n\t\t\t</xsd:element>\r\n\t\t\t<xsd:element\
        \ minOccurs=\"1\" name=\"status\"\r\n\t\t\t\ttype=\"bons0:Status\">\r\n\t\t\
        \t</xsd:element>\r\n\t\t</xsd:sequence>\r\n\t</xsd:complexType>\r\n</xsd:schema>"}
    headers:
      Content-Language: [en-US]
      Content-Type: [text/xml]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport/WEB-INF/wsdl/bo/wsdl/IssueMTPLPolicyRequest.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<xsd:schema targetNamespace=\"\
        http://guaranteefund.org/irm/bo/wsdl\"\r\n\txmlns:bons1=\"http://guaranteefund.org/irm/bo/common\"\
        \r\n\txmlns:xsd=\"http://www.w3.org/2001/XMLSchema\">\r\n\t<xsd:import schemaLocatio[...]
- request:
    body: !!binary |
      PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c29hcDpFbnZlbG9wZSB4bWxu
      czpzb2FwPSJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy9zb2FwL2VudmVsb3BlLyIgeG1sbnM6
      eHNkPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSIgeG1sbnM6eHNpPSJodHRwOi8v
      d3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSI+Cjxzb2FwOkhlYWRlci8+Cjxzb2Fw
      OkJvZHk+CiAgICA8dm9pZE1UUExQb2xpY3kgeG1sbnM9Imh0dHA6Ly9ndWFyYW50ZWVmdW5kLm9y
      Zy9pcm0vd3NkbC9NVFBMUG9saWN5U2VydmljZSI+CiAgICA8L3ZvaWRNVFBMUG9saWN5Pgo8L3Nv
      YXA6Qm9keT4KPC9zb2FwOkVudmVsb3BlPg==
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"None"']
    method: POST
    uri: https://eisoukr.musala.com:9443/IrmInboundMediationWeb/sca/MTPLPolicyWSExport
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?><soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/"><soapenv:Body><soapenv:Fault
        xmlns:axis2ns3="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"><faultcode>axis2ns3:InvalidSecurity</faultcode><faultstring>security.wssecurity.WSSContextImpl.s02:
        com.ibm.websphere.security.WSSecurityException: Exception org.apache.axis2.AxisFault:
        CWWSS5730E: A required timestamp is not found. ocurred while running action:
        com.ibm.ws.wssecurity.handler.WSSecurityConsumerHandler$1@5fe95fe9</faultstring><detail></detail></soapenv:Fault></soapenv:Body></soapenv:Envelope>'}
    headers:
      Content-Language: [en-US]
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 500, message: Internal Server Error}
version: 1
