interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/wsdl/v2011_2_0/netsuite.wsdl
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<definitions xmlns:tns=\"\
        urn:platform_2011_2.webservices.netsuite.com\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        \ xmlns=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:platformMsgs=\"urn:messages_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformFaults=\"urn:faults_2011_2.platform.webservices.netsuite.com\"\
        \ targetNamespace=\"urn:platform_2011_2.webservices.netsuite.com\">\n    <types>\n\
        \        <xsd:schema xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" elementFormDefault=\"\
        qualified\">\n            <xsd:import namespace=\"urn:core_2011_2.platform.webservices.netsuite.com\"\
        \ schemaLocation=\"https://webservices.netsuite.com/xsd/platform/v2011_2_0/core.xsd\"\
        />\n            <xsd:import namespace=\"urn:faults_2011_2.platform.webservices.netsuite.com\"\
        \ schemaLocation=\"https://webservices.netsuite.com/xsd/platform/v2011_2_0/faults.xsd\"\
        />\n            <xsd:import namespace=\"urn:messages_2011_2.platform.webservices.netsuite.com\"\
        \ schemaLocation=\"https://[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/core.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:platformCore=\"urn:core_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformCoreTyp=\"urn:types.core_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformFaultTyp=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ targetNamespace=\"urn:core_2011_2.platform.webservices.netsuite.com\" elementFormDefault=\"\
        qualified\" attributeFormDefault=\"unqualified\">\n    <import namespace=\"\
        urn:types.core_2011_2.platform.webservices.netsuite.com\" schemaLocation=\"\
        https://webservices.netsuite.com/xsd/platform/v2011_2_0/coreTypes.xsd\"/>\n\
        \    <import namespace=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ schemaLocation=\"https://webservices.netsuite.com/xsd/platform/v2011_2_0/faultTypes.xsd\"\
        />\n    <!-- Login Passport -->\n    <complexType name=\"Passport\">\n   \
        \     <sequence>\n            <element name=\"email\" type=\"xsd:string\"\
        />\n            <element name=\"password\" type=\"xsd:string\"/>\n       \
        \     <element name=\"account\" type=\"xsd:string\"/>\n            <element\
        \ name=\"role\" type=\"platformCore:RecordRef\" minOccurs=\"0\"/>\n      \
        \  </sequence>\n    </complexType>\n    <!-- SSO Passport -->\n    <complexType\
        \ name=\"SsoPassport\">\n        <sequence>\n            <element name=\"\
        authenticationToken\" type=\"xsd:string\"/>\n            <element name=\"\
        partnerId\" type=\"xsd:string\"/>\n            <element name=\"partnerAccount\"\
        \ type=\"xsd:string\" minOccurs=\"0\"/>\n        </sequence>\n    </complexType>\n\
        \    <!-- SSO Credentials-->\n    <complexType name=\"SsoCredentials\">\n\
        \        <sequence>\n            <element name=\"email\" type=\"xsd:string\"\
        />\n            <element name=\"password\" type=\"xsd:string\"/>\n       \
        \     <element name=\"account\" type=\"xsd:string\"/>\n            <element\
        \ name=\"role\" type=\"platformCore:RecordRef\" minOccurs=\"0\"/>\n      \
        \      <element name=\"authenticationToken\" type=\"xsd:string\"/>\n     \
        \       <element name=\"partnerId\" type=\"xsd:string\"/>\n        </sequence>\n\
        \    </complexType>\n    <complexType name=\"ChangePasswordOrEmailCredentials\"\
        >\n        <sequence>\n            <element name=\"currentPassword\" type=\"\
        xsd:string\"/>\n            <element name=\"newEmail\" type=\"xsd:string\"\
        />\n            <element name=\"newEmail2\" type=\"xsd:string\"/>\n      \
        \      <element name=\"newPassword\" type=\"xsd:string\" minOccurs=\"0\"/>\n\
        \            <element name=\"newPassword2\" type=\"xsd:string\" minOccurs=\"\
        0\"/>\n            <element name=\"justThisAccount\" type=\"xsd:boolean\"\
        \ minOccurs=\"0\"/>\n        </sequence>\n    </complexType>\n    <!-- Status\
        \ -->\n    <complexType name=\"StatusDetail\">\n        <sequence>\n     \
        \       <element name=\"code\" type=\"platformFaultTyp:StatusDetailCodeType\"\
        />\n            <element name=\"message\" type=\"xsd:string\" minOccurs=\"\
        0\"/>\n        </sequence>\n        <attribute name=\"type\" type=\"platformFaultTyp:StatusDetailType\"\
        \ default=\"ERROR\"/>\n    </complexType>\n    <complexType name=\"Status\"\
        >\n        <sequence>\n            <element name=\"statusDetail\" type=\"\
        platformCore:StatusDetail\" minOccurs=\"0\" maxOccurs=\"unbounded\"/>\n  \
        \      </sequence>\n        <attribute name=\"isSuccess\" type=\"xsd:boolean\"\
        />\n    </complexType>\n    <element name=\"status\" type=\"platformCore:Status\"\
        />\n    <complexType name=\"WsRole\">\n        <sequence>\n            <element\
        \ name=\"role\" type=\"platformCore:RecordRef\" minOccurs=\"0\"/>\n      \
        \      <element name=\"isDefault\" type=\"xsd:boolean\" minOccurs=\"0\"/>\n\
  [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/coreTypes.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:platformCoreTyp=\"urn:types.core_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ targetNamespace=\"urn:types.core_2011_2.platform.webservices.netsuite.com\"\
        \ elementFormDefault=\"qualified\" attributeFormDefault=\"unqualified\">\n\
        \    <!-- Record Types -->\n    <simpleType name=\"RecordType\">\n       \
        \ <restriction base=\"xsd:string\">\n            <enumeration value=\"account\"\
        />\n            <enumeration value=\"accountingPeriod\"/>\n            <enumeration\
        \ value=\"appDefinition\"/>\n            <enumeration value=\"appPackage\"\
        />\n            <enumeration value=\"assemblyBuild\"/>\n            <enumeration\
        \ value=\"assemblyUnbuild\"/>\n            <enumeration value=\"assemblyItem\"\
        />\n            <enumeration value=\"bin\"/>\n\t\t\t<enumeration value=\"\
        binTransfer\"/>\n\t\t\t<enumeration[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/faultTypes.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:platformFaultTyp=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ targetNamespace=\"urn[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/faults.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:platformFaults=\"urn:faults_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformFaultTyp=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ targetNamespace=\"urn:faults_2011_2.platform.webservices.netsuite.com\"\
        \ elementFormDefault=\"qualified\" attributeFormDefault=\"unqualified\">\n\
        \    <import namespace=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ schemaLocation=\"https://webservices.netsuite.com/xsd/platform/v2011_2_0/faultTypes.xsd\"\
        />\n    <complexType name=\"SoapFault\">\n        <sequence>\n           \
        \ <element name=\"code\" type=\"platformFaultTyp:FaultCodeType\"/>\n     \
        \       <element name=\"message\" type=\"xsd:string\"/>\n        </sequence>\n\
        \    </complexType>\n    <complexType name=\"InsufficientPermissionFault\"\
        >\n        <complexContent>\n            <extension base=\"platformFaults:SoapFault\"\
        />\n        </complexContent>\n    </complexType>\n    <element name=\"insufficientPermissionFault\"\
        \ type=\"platformFaults:InsufficientPermissionFault\"/>\n    <complexType\
        \ name=\"InvalidAccountFault\">\n        <complexContent>\n            <extension\
        \ base=\"platformFaults:SoapFault\"/>\n        </complexContent>\n    </complexType>\n\
        \    <element name=\"invalidAccountFault\" type=\"platformFaults:InvalidAccountFault\"\
        />\n    <complexType name=\"InvalidCredentialsFault\">\n        <complexContent>\n\
        \            <extension base=\"platformFaults:SoapFault\"/>\n        </complexContent>\n\
        \    </complexType>\n    <element name=\"invalidCredentialsFault\" type=\"\
        platformFaults:InvalidCredentialsFault\"/>\n    <complexType name=\"InvalidSessionFault\"\
        >\n        <complexContent>\n            <extension base=\"platformFaults:SoapFault\"\
        />\n        </complexContent>\n    </complexType>\n    <element name=\"invalidSessionFault\"\
        \ type=\"platformFaults:InvalidSessionFault\"/>\n    <complexType name=\"\
        ExceededRequestLimitFault\">\n        <complexContent>\n            <extension\
        \ base=\"platformFaults:SoapFault\"/>\n        <[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/messages.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:platformMsgs=\"urn:messages_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformFaultTyp=\"urn:types.faults_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformCore=\"urn:core_2011_2.plat[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/common.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:platformCore=\"urn:core_2011_2.platform.webservices.netsuite.com\"\
        \ xmlns:platformCommonTyp=\"urn:types.c[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://webservices.netsuite.com:443/xsd/platform/v2011_2_0/commonTypes.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<schema xmlns=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:platformCommonTyp=\"urn:types.common_2011_2.platform.webservices.netsuite.com\"\
        \ targetNamespace=\"u[...]
