interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.clarizen.com:443/v1.0/Clarizen.svc
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="Clarizen"
        targetNamespace="http://clarizen.com/api" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:tns="http://clarizen.com/api" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"><wsdl:types><xsd:schema
        targetNamespace="http://clarizen.com/api/Imports"><xsd:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd0"
        namespace="http://clarizen.com/api"/><xsd:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd5"
        namespace="http://clarizen.com/api/faults"/><xsd:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd2" namespace="http://clarizen.com/api/metadata"/><xsd:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd3" namespace="http://clarizen.com/api/queries"/><xsd:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd4" namespace="http://clarizen.com/api/files"/><xsd:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd6" namespace="http://clarizen.com/api/projectManagement"/></xsd:schema></wsdl:types><wsdl:message
        name="IClarizen_Login_InputMessage"><wsdl:part name="parameters" element="tns:Login"/></wsdl:message><wsdl:message
        name="IClarizen_Login_OutputMessage"><wsdl:part name="parameters" element="tns:LoginResponse"/></wsdl:message><wsdl:message
        name="IClarizen_Login_OutputMessage_Headers"><wsdl:part name="Session" element="tns:Session"/></wsdl:message><wsdl:message
        name="IClarizen_Login_LoginFailureFault_FaultMessage"><wsdl:part name="detail"
        element="q1:LoginFailure" xmlns:q1="http://clarizen.com/api/faults"/></wsd[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.clarizen.com:443/v1.0/Clarizen.svc?xsd=xsd0
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://clarizen.com/api" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://clarizen.com/api"><xs:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd3" namespace="http://clarizen.com/api/queries"/><xs:import
        schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd2" namespace="http://clarizen.com/api/metadata"/><xs:element
        name="Login"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="userName"
        nillable="true" type="xs:string"/><xs:element minOccurs="0" name="password"
        nillable="true" type="xs:string"/><xs:element minOccurs="0" name="options"
        nillable="true" type="tns:LoginOptions"/></xs:sequence></xs:complexType></xs:element><xs:complexType
        name="LoginOptions"><xs:sequence><xs:element minOccurs="0" name="ApplicationId"
        nillable="true" type="xs:string"><xs:annotation><xs:appinfo/><xs:documentation>A
        string representing your application</xs:documentation></xs:annotation></xs:element><xs:element
        minOccurs="0" name="PartnerId" nillable="true" type="xs:string"><xs:annotation><xs:appinfo/><xs:documentation>(Optional)
        If you are a certified partner, please provide the partner id you received
        from Clarizen</xs:documentation></xs:annotation></xs:element></xs:sequence></xs:complexType><xs:element
        name="LoginOptions" nillable="true" type="tns:LoginOptions"/><xs:complexType
        name="ExtendedLoginOptions"><xs:complexContent mixed="false"><xs:extension
        base="tns:LoginOptions"><xs:sequence><xs:element minOccurs="0" name="ClientVersion"
        nillable="true" type="xs:string"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="ExtendedLoginOptions" nillable="true" type="tns:ExtendedLoginOptions"/><xs:element
        name="LoginResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0"
        name="LoginResult" nillable="true" type="tns:LoginResult"/></xs:sequence></xs:complexType></xs:element><xs:complexType
        name="LoginResult"><xs:complexContent mixed="false"><xs:extension base="tns:Result"><xs:sequence><xs:element
        name="LicenseType" type="tns:LicenseType"><xs:annotation><xs:appinfo/><xs:documentation>Indicates
        which license the current user is assigned</xs:documentation></xs:annotation></xs:element><xs:element
        minOccurs="0" name="OrganizationId" nillable="true" type="xs:string"><xs:annotation><xs:appinfo/><xs:documentation>The
        unique ID of the current organization. Can be used to retrieve additional
        information about the cu[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.clarizen.com:443/v1.0/Clarizen.svc?xsd=xsd6
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://clarizen.com/api/projectManagement" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://clarizen.com/api/projectManagement"><xs:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd0"
        namespace="http://clarizen.com/api"/><xs:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd3"
        namespace="http://clarizen.com/api/queries"/><xs:complexType name="CommentsQuery"><xs:complexContent
        mixed="false"><xs:extension base="q1:BuiltInQuery" xmlns:q1="http://clarizen.com/api/queries"><xs:sequence><xs:element
        minOccurs="0" name="AttachedToId" nillable="true" type="q2:EntityId" xmlns:q2="http://clarizen.com/api"/><xs:element
        minOccurs="0" name="CommentType" type="tns:CommentType"/><xs:element minOccurs="0"
        name="Visibility" type="tns:CommentVisibility"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="CommentsQuery" nillable="true" type="tns:CommentsQuery"/><xs:simpleType
        name="CommentType"><xs:restriction base="xs:string"><xs:enumeration value="Note"/><xs:enumeration
        value="Discussion"/></xs:restriction></xs:simpleType><xs:element name="CommentType"
        nillable="true" type="tns:CommentType"/><xs:simpleType name="CommentVisibility"><xs:restriction
        base="xs:string"><xs:enumeration value="All"/><xs:enumeration value="Private"/><xs:enumeration
        value="Public"/></xs:restriction></xs:simpleType><xs:element name="CommentVisibility"
        nillable="true" type="tns:CommentVisibility"/><xs:complexType name="MyWorkItemsQuery"><xs:complexContent
        mixed="false"><xs:extension base="q3:BuiltInQuery" xmlns:q3="http://clarizen.com/api/queries"><xs:sequence><xs:element
        minOccurs="0" [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.clarizen.com:443/v1.0/Clarizen.svc?xsd=xsd5
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://clarizen.com/api/faults" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://clarizen.com/api/faults"><xs:complexType name="LoginFailure"><xs:complexContent
        mixed="false"><xs:extension base="tns:GeneralFault"><xs:sequence/></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="LoginFailure" nillable="true" type="tns:LoginFailure"/><xs:complexType
        name="GeneralFault"><xs:sequence><xs:element minOccurs="0" name="Message"
        nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element
        name="GeneralFault" nillable="true" type="tns:GeneralFault"/><xs:complexType
        name="SessionTimeoutFailure"><xs:complexContent mixed="false"><xs:extension
        base="tns:GeneralFault"><xs:sequence/></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="SessionTimeoutFailure" nillable="true" type="tns:SessionTimeoutFailure"/></xs:schema>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api2.clarizen.com:443/v1.0/Clarizen.svc?xsd=xsd4
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://clarizen.com/api/files" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://clarizen.com/api/files"><xs:import schemaLocation="https://api2.clarizen.com/v1.0/Clarizen.svc?xsd=xsd0"
        namespace="http://clarizen.com/api"/><xs:complexType name="DownloadResult"><xs:complexContent
        mixed="false"><xs:extension base="q1:Result" xmlns:q1="http://clarizen.com/api"><xs:sequence><xs:element
        minOccurs="0" name="FileInformation" nillable="true" type="tns:FileInformation"/></xs:sequence></xs:extension></xs:complexContent></xs:complexType><xs:element
        name="DownloadResult" nillable="true" type="tns:DownloadResult"/><xs:complexType
        name="FileInformation"><xs:sequence><xs:element minOccurs="0" name="Content"
        nillable="true" type="xs:base64Binary"/><xs:element minOccurs="0" name="ExtendedInfo"
        nillable="true" type="xs:string"><xs:annotation><xs:appinfo><DefaultValue
        EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/"/></xs:appinfo></xs:annotation></xs:element><xs:element
        minOccurs="0" name="FileName" nillable="true" type="xs:string"/><xs:element
        name="Storage" type="tns:Storage"/><xs:element minOccurs="0" name="SubType"
        nillable="true" type="xs:string"><xs:annotation><xs:appinfo><DefaultValue
        EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serializati[...]
