interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://www.onvif.org/onvif/ver10/device/wsdl/devicemgmt.wsdl
  response:
    body: {string: "\uFEFF<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<?xml-stylesheet\
        \ type=\"text/xsl\" href=\"../../../ver20/util/onvif-wsdl-viewer.xsl\"?>\r\
        \n<!--\r\nCopyright (c) 2008-2014 by ONVIF: Open Network Video Interface Forum.\
        \ All rights reserved.\r\n\r\nRecipients of this document may copy, distribute,\
        \ publish, or display this document so long as this copyright notice, license\
        \ and disclaimer are retained with all copies of the[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.onvif.org/onvif/ver10/schema/onvif.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<!--<?xml-stylesheet\
        \ type=\"text/xsl\" href=\"onvif-schema-viewer.xsl\"?>-->\r\n<!--\r\nCopyright\
        \ (c) 2008-2014 by ONVIF: Open Network Video Interface Forum. All rights reserved.\r\
        \n\r\nRecipients of this document may copy, distribute, publish, or display\
        \ this docu[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2005/05/xmlmime
  response:
    body: {string: "<?xml version=\"1.0\" ?>\n<!-- \n   W3C XML Schema defined in\
        \ the Describing Media Content of Binary Data in XML\n   specification\n \
        \    http://www.w3.org/TR/xml-media-types\n\n   Copyright \xA9 2005 World\
        \ Wide Web Consortium,\n  \n   (Massachusetts Institute of Technology, European\
        \ Research Consortium for\n   Informatics and Mathematics, Keio University).\
        \ All Rights Reserved. This\n   work is distributed under the W3C\xAE Software\
        \ License [1] in the hope that\n   it will be useful, but WITHOUT ANY WARRANTY;\
        \ without even the implied\n   warranty of MERCHANTABILITY or FITNESS FOR\
        \ A PARTICULAR PURPOSE.\n  \n   [1] http://www.w3.org/Consortium/Legal/2002/copyright-software-20021231\n\
        \n   $Id: xmlmime.xsd,v 1.1 2005/04/25 17:08:35 hugo Exp $\n-->\n<xs:schema\
        \ xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n           xmlns:xmime=\"\
        http://www.w3.org/2005/05/xmlmime\"\n           targetNamespace=\"http://www.w3.org/2005/05/xmlmime\"\
        \ >\n\n  <xs:attribute name=\"contentType\">\n    <xs:simpleType>\n      <xs:restriction\
        \ base=\"xs:string\" >\n      <xs:minLength value=\"3\" />\n      </xs:restriction>\n\
        \    </xs:simpleType>\n  </xs:attribute>\n\n  <xs:attribute name=\"expectedContentTypes\"\
        \ type=\"xs:string\" />\n\n  <xs:complexType name=\"base64Binary\" >\n   \
        \ <xs:simpleContent>\n        <xs:extension base=\"xs:base64Binary\" >\n \
        \           <xs:attribute ref=\"xmime:contentType\" />\n        </xs:extension>\n\
        \    </xs:simpleContent>\n  </xs:complexType>\n\n  <xs:complexType name=\"\
        hexBinary\" >\n    <xs:simpleContent>\n        <xs:extension base=\"xs:hexBinary\"\
        \ >\n            <xs:attribute ref=\"xmime:contentType\" />\n        </xs:extension>\n\
        \    </xs:simpleContent>\n  </xs:complexType>\n\n</xs:schema>"}
    headers:
      Content-Location: [xmlmime.xsd]
      Content-Type: [application/xml]
      ETag: ['"667-3f595dbc22d00;4e6d41bff1600"']
      Last-Modified: ['Mon, 25 Apr 2005 17:08:36 GMT']
      TCN: [choice]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2003/05/soap-envelope
  response:
    body: {string: '<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">

        <html><head>

        <title>301 Moved Permanently</title>

        </head><body>

        <h1>Moved Permanently</h1>

        <p>The document has moved <a href="http://www.w3.org/2003/05/soap-envelope/">here</a>.</p>

        </body></html>

        '}
    headers:
      Content-Type: [text/html; charset=iso-8859-1]
      Location: ['http://www.w3.org/2003/05/soap-envelope/']
    status: {code: 301, message: Moved Permanently}
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2003/05/soap-envelope/
  response:
    body: {string: "<!-- Schema defined in the SOAP Version 1.2 Part 1 specification\n\
        \     Recommendation:\n     http://www.w3.org/TR/2003/REC-soap12-part1-20030624/\n\
        \     $Id: soap-envelope.xsd,v 1.2 2006/12/20 20:43:36 ylafon Exp $\n\n  \
        \   Copyright (C)2003 W3C(R) (MIT, ERCIM, Keio), All Rights Reserved.\n  \
        \   W3C viability, trademark, document use and software licensing rules\n\
        \     apply.\n     http://www.w3.org/Consortium/Legal/\n\n     This document\
        \ is governed by the W3C Software License [1] as\n     described in the FAQ\
        \ [2].\n\n     [1] http://www.w3.org/Consortium/Legal/copyright-software-19980720\n\
        \     [2] http://www.w3.org/Consortium/Legal/IPR-FAQ-20000620.html#DTD\n-->\n\
        \n<xs:schema xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\n           xmlns:tns=\"\
        http://www.w3.org/2003/05/soap-envelope\"\n           targetNamespace=\"http://www.w3.org/2003/05/soap-envelope\"\
        \ \n\t\t   elementFormDefault=\"qualified\" >\n\n  <xs:import namespace=\"\
        http://www.w3.org/XML/1998/namespace\" \n             schemaLocation=\"http://www.w3.org/2001/xml.xsd\"\
        />\n\n  <!-- Envelope, header and body -->\n  <xs:element name=\"Envelope\"\
        \ type=\"tns:Envelope\" />\n  <xs:complexType name=\"Envelope\" >\n    <xs:sequence>\n\
        \      <xs:element ref=\"tns:Header\" minOccurs=\"0\" />\n      <xs:element\
        \ ref=\"tns:Body\" minOccurs=\"1\" />\n    </xs:sequence>\n    <xs:anyAttribute\
        \ namespace=\"##other\" processContents=\"lax\" />\n  </xs:complexType>\n\n\
        \  <xs:element name=\"Header\" type=\"tns:Header\" />\n  <xs:complexType name=\"\
        Header\" >\n    <xs:annotation>\n\t  <xs:documentation>\n\t  Elements replacing\
        \ the wildcard MUST be namespace qualified, but can be in the targetNamespace\n\
        \t  </xs:documentation>\n\t</xs:annotation>\n    <xs:sequence>\n      <xs:any\
        \ namespace=\"##any\" processContents=\"lax\" minOccurs=\"0\" maxOccurs=\"\
        unbounded\"  />\n    </xs:sequence>\n    <xs:anyAttribute namespace=\"##other\"\
        \ processContents=\"lax\" />\n  </xs:complexType>\n  \n  <xs:element name=\"\
        Body\" type=\"tns:Body\" />\n  <xs:complexType name=\"Body\" >\n    <xs:sequence>\n\
        \      <xs:any namespace=\"##any\" processContents=\"lax\" minOccurs=\"0\"\
        \ maxOccurs=\"unbounded\" />\n    </xs:sequence>\n    <xs:anyAttribute namespace=\"\
        ##other\" processContents=\"lax\" />\n  </xs:complexType>\n\n  <!-- Global\
        \ Attributes.  The following attributes are intended to be\n  usable via qualified\
        \ attribute names on any complex type referencing\n  them.  -->\n  <xs:attribute\
        \ name=\"mustUnderstand\" type=\"xs:boolean\" default=\"0\" />\n  <xs:at[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2001/xml.xsd
  response:
    body: {string: "<?xml version='1.0'?>\n<?xml-stylesheet href=\"../2008/09/xsd.xsl\"\
        \ type=\"text/xsl\"?>\n<xs:schema targetNamespace=\"http://www.w3.org/XML/1998/namespace\"\
        \ \n  xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" \n  xmlns   =\"http://www.w3.org/1999/xhtml\"\
        \n  xml:lang=\"en\">\n\n <xs:annotation>\n  <xs:documentation>\n   <div>\n\
        \    <h1>About the XML namespace</h1>\n\n    <div class=\"bodytext\">\n  \
        \   <p>\n      This schema document describes the XML namespace, in a form\n\
        \      suitable for import by other schema documents.\n     </p>\n     <p>\n\
        \      See <a href=\"http://www.w3.org/XML/1998/namespace.html\">\n      http://www.w3.org/XML/1998/namespace.html</a>\
        \ and\n      <a href=\"http://www.w3.org/TR/REC-xml\">\n      http://www.w3.org/TR/REC-xml</a>\
        \[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://docs.oasis-open.org/wsn/b-2.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- \r\n\r\nOASIS\
        \ takes no position regarding the validity or scope of any intellectual property\
        \ or other rights that might be claimed to pertain to the implementation or\
        \ use of the technology described in this document or the extent to which\
        \ any license under such rights m[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2005/08/addressing/ws-addr.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!--\n    W3C XML\
        \ Schema defined in the Web Services Addressing 1.0 specification\n    http://www.w3.org/TR/ws-addr-core\n\
        \n   Copyright \xA9 2005 World Wide Web Consortium,\n\n   (Massachusetts Institute\
        \ of Technology, European Research Consortium for\n   Informatics and Mathem[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://docs.oasis-open.org/wsrf/bf-2.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- \r\n   OASIS\
        \ takes no position regarding the validity or scope of any intellectual property\
        \ or other rights that might be claimed to pertain to the implementation or\
        \ use of the technology described in this document or the extent to which\
        \ any license under such rights [...]
- request:
    body: null
    headers:
    method: GET
    uri: http://docs.oasis-open.org/wsn/t-1.xsd
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- \r\n\r\nOASIS\
        \ takes no position regarding the validity or scope of any intellectual property\
        \ or other rights that might be claimed to pertain to the implementation or\
        \ use of the technology described in this document or the extent to which\
        \ any license under such rights m[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://www.w3.org/2004/08/xop/include
  response:
    body: {string: "<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' \n    \
        \       xmlns:tns='http://www.w3.org/2004/08/xop/include' \n           targetNamespace='http://www.w3.org/2004/08/xop/include'\
        \ >\n\n  <xs:element name='Include' type='tns:Include' />\n  <xs:complexType\
        \ name='Include' >\n\t<xs:sequence>\n\t  <xs:any namespace='##other' minOccurs='0'\
        \ maxOccurs='unbounded' />\n\t</xs:sequence>\n\t<xs:attribute name='href'\
        \ type='xs:anyURI' use='required' />\n\t<xs:anyAttribute namespace='##other'\
        \ />\n  </xs:complexType>\n</xs:schema>\n"}
    headers:
      Content-Location: [include.xsd]
      Content-Type: [application/xml]
      ETag: ['"1ff-3e281d60d8200;3e281d60d8200"']
      Last-Modified: ['Wed, 25 Aug 2004 22:16:40 GMT']
      TCN: [choice]
    status: {code: 200, message: OK}
version: 1
