interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pysimplesoap.googlecode.com:443/issues/attachment?aid=930004001&name=wsdl.txt&token=ABZ6GAehiT1eEIjb-u0yI_xTbfB1Kz6cww%3A1426859277085
  response:
    body: {string: "<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\"\
        \ xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\"\
        \ xmlns:tns=\"http://smbsaas/websitepanel/enterpriseserver\" xmlns:soap=\"\
        http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\"\
        \ xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"\
        \ xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\" targetNamespace=\"http://smbsaas/websitepanel/enterpriseserver\"\
        >\r\n\t<wsdl:types>\r\n\t\t<s:schema elementFormDefault=\"qualified\" targetNamespace=\"\
        http://smbsaas/websitepanel/enterpriseserver\">\r\n\t\t\t<s:element name=\"\
        GetHostingPlans\">\r\n\t\t\t\t<s:complexType>\r\n\t\t\t\t\t<s:sequence>\r\n\
        \t\t\t\t\t\t<s:element minOccurs=\"1\" maxOccurs=\"1\" name=\"userId\" type=\"\
        s:int\"/>\r\n\t\t\t\t\t</s:sequence>\r\n\t\t\t\t</s:complexType>\r\n\t\t\t\
        </s:element>\r\n\t\t\t<s:element name=\"GetHostingPlansResponse\">\r\n\t\t\
        \t\t<s:complexType>\r\n\t\t\t\t\t<s:sequence>\r\n\t\t\t\t\t\t<s:element minOccurs=\"\
        0\" maxOccurs=\"1\" name=\"GetHostingPlansResult\">\r\n\t\t\t\t\t\t\t<s:complexType>\r\
        \n\t\t\t\t\t\t\t\t<s:sequence>\r\n\t\t\t[...]
