interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://app.marketo.com/soap/mktows/2_1?WSDL
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?>\n\
        <!-- Marketo API Version 2_1 -->\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        \n                  xmlns:tns=\"http://www.marketo.com/mktows/\"\n       \
        \           xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\"\n            \
        \      xmlns:xs=\"http://www.w3.org/2001/XMLSchema\" name=\"mktows\" targetNamespace=\"\
        http://www.marketo.com/mktows/\">\n  <wsdl:types>\n    <xs:schema targetNamespace=\"\
        http://www.marketo.com/mktows/\">\n      <!-- *****************************************************************\
        \ -->\n      <!-- **                       Enumerations                  \
        \        ** -->\n      <!-- *****************************************************************\
        \ -->\n      <xs:simpleType name=\"LeadKeyRef\">\n        <xs:restriction\
        \ base=\"xs:string\">\n          <xs:enumeration value=\"IDNUM\"/>\n     \
        \     <xs:enumeration value=\"COOKIE\"/>\n          <xs:enumeration value=\"\
        EMAIL\"/>\n          <xs:enumeration value=\"LEADOWNEREMAIL\"/>\n        \
        \  <xs:enumeration value=\"SFDCACCOUNTID\"/>\n          <xs:enumeration value=\"\
        SFDCCONTACTID\"/>\n          <xs:enumeration value=\"SFDCLEADID\"/>\n    \
        \      <xs:enumeration value=\"SFDCLEADOWNERID\"/>\n          <xs:enumeration\
        \ value=\"SFDCOPPTYID\"/>\n        </xs:restriction>\n      </xs:simpleType>\n\
        \      <xs:simpleType name=\"LeadSyncStatus\">\n        <xs:restriction base=\"\
        xs:string\">\n          <xs:enumeration value=\"CREATED\"/>\n          <xs:enumeration\
        \ value=\"UPDATED\"/>\n          <xs:enumeration value=\"FAILED\"/>\n    \
        \    </xs:restriction>\n      </xs:simpleType>\n      <xs:simpleType name=\"\
        ActivityType\">\n        <xs:restriction base=\"xs:string\">\n          <xs:enumeration\
        \ value=\"VisitWebpage\"/>\n          <xs:enumeration value=\"FillOutForm\"\
        />\n          <xs:enumeration value=\"ClickLink\"/>\n   [...]
