interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://uat.destin8.co.uk/ChiefEDI/ChiefEDI?wsdl
  response:
    body: {string: "<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS\
        \ RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><WL5G3N0:definitions\
        \ xmlns=\"\" xmlns:WL5G3N0=\"http://schemas.xmlsoap.org/wsdl/\" xmlns:WL5G3N1=\"\
        http://www.destin8.co.uk/Chief\" xmlns:WL5G3N2=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        \ name=\"EDIWebServiceClient\" targetNamespace=\"http://www.destin8.co.uk/Chief\"\
        >\n  <WL5G3N0:types>\n    <xsd:schema xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        \ xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" xmlns:tns=\"\
        http://www.destin8.co.uk/Chief\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"\
        \ attributeFormDefault=\"qualified\" elementFormDefault=\"unqualified\" targetNamespace=\"\
        http://www.destin8.co.uk/Chief\">\n      <xsd:import namespace=\"http://www.destin8.co.uk/ChiefEDI\"\
        />\n      <xsd:complexType name=\"EDIMessageBatch\">\n        <xsd:sequence>\n\
        \          <xsd:element maxOccurs=\"1\" minOccurs=\"1\" name=\"batch\" nillable=\"\
        true\" type=\"tns:Batch\"/>\n          <xsd:element maxOccurs=\"1\" minOccurs=\"\
        1\" name=\"errorNo\" type=\"xsd:int\"/>\n          <xsd:element maxOccurs=\"\
        1\" minOccurs=\"1\" name=\"errorText\" nillable=\"true\" type=\"xsd:string\"\
        />\n        </xsd:sequence>\n      </xsd:complexType>\n      <xsd:complexType\
        \ name=\"Batch\">\n        <xsd:sequence>\n          <xsd:element maxOccurs=\"\
   [...]
