interactions:
- request:
    body: null
    headers:
    method: GET
    uri: http://services.conzoom.eu/addit/AddItService.svc?wsdl
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="AddItService"
        targetNamespace="http://services.conzoom.eu/addit/2009/07" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://services.conzoom.eu/addit/2009/07" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:i0="http://services.conzoom.eu/06/07/bindings" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"><wsdl:import
        namespace="http://services.conzoom.eu/06/07/bindings" location="http://services.conzoom.eu/addit/AddItService.svc?wsdl=wsdl0"/><wsdl:types><xsd:schema
        targetNamespace="http://services.conzoom.eu/addit/2009/07/Imports"><xsd:import
        schemaLocation="http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd0"
        namespace="http://services.conzoom.eu/addit/2009/07"/><xsd:import schemaLocation="http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xsd:import
        schemaLocation="http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd2"
        namespace="http://services.conzoom.eu/2007/06"/></xsd:schema></wsdl:types><wsdl:message
        name="AddItService_GetValues_InputMessage"><wsdl:part name="parameters" element="tns:GetValues"/></wsdl:message><wsdl:message
        name="AddItService_GetValues_OutputMessage"><wsdl:part name="parameters" element="tns:GetValuesResponse"/></wsdl:message><wsdl:message
        name="AddItService_GetValuesInBatch_InputMessage"><wsdl:part name="parameters"
        element="tns:GetValuesInBatch"/></wsdl:message><wsdl:message name="AddItService_GetValuesInBatch_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetValuesInBatchResponse"/></wsdl:message><wsdl:message
        name="AddItService_GetVariableById_InputMessage"><wsdl:part name="parameters"
        element="tns:GetVariableById"/></wsdl:message><wsdl:message name="AddItService_GetVariableById_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetVariableByIdResponse"/></wsdl:message><wsdl:message
        name="AddItService_GetVariables_InputMessage"><wsdl:part name="parameters"
        element="tns:GetVariables"/></wsdl:message><wsdl:message name="AddItService_GetVariables_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetVariablesResponse"/></wsdl:message><wsdl:portType
        name="AddItService"><wsdl:operation name="GetValues"><wsdl:input wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetValues"
        message="tns:AddItService_GetValues_InputMessage"/><wsdl:output wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetValuesResponse"
        message="tns:AddItService_GetValues_OutputMessage"/></wsdl:operation><wsdl:operation
        name="GetValuesInBatch"><wsdl:input wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetValuesInBatch"
        message="tns:AddItService_GetValuesInBatch_InputMessage"/><wsdl:output wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetValuesInBatchResponse"
        message="tns:AddItService_GetValuesInBatch_OutputMessage"/></wsdl:operation><wsdl:operation
        name="GetVariableById"><wsdl:input wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariableById"
        message="tns:AddItService_GetVariableById_InputMessage"/><wsdl:output wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariableByIdResponse"
        message="tns:AddItService_GetVariableById_OutputMessage"/></wsdl:operation><wsdl:operation
        name="GetVariables"><wsdl:input wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariables"
        message="tns:AddItService_GetVariables_InputMessage"/><wsdl:output wsaw:Action="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariablesResponse"
        message="tns:AddItService_GetVariables_OutputMessage"/></wsdl:operation></wsdl:portType><wsdl:service
        name="AddItService"><wsdl:port name="BasicHttpBinding_AddItService" binding="i0:BasicHttpBinding_AddItService"><soap:address
        location="https://services.conzoom.eu/addit/AddItService.svc"/></wsdl:port></wsdl:service></wsdl:definitions>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://services.conzoom.eu/addit/AddItService.svc?wsdl=wsdl0
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="http://services.conzoom.eu/06/07/bindings"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:tns="http://services.conzoom.eu/06/07/bindings" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:i0="http://services.conzoom.eu/addit/2009/07" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"><wsp:Policy
        wsu:Id="BasicHttpBinding_AddItService_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Lax/></wsp:Policy></sp:Layout><sp:IncludeTimestamp/></wsp:Policy></sp:TransportBinding><sp:SignedSupportingTokens
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:UsernameToken
        sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient"><wsp:Policy><sp:WssUsernameToken10/></wsp:Policy></sp:UsernameToken></wsp:Policy></sp:SignedSupportingTokens><sp:Wss10
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy/></sp:Wss10></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:import
        namespace="http://services.conzoom.eu/addit/2009/07" location="http://services.conzoom.eu/addit/AddItService.svc?wsdl"/><wsdl:types/><wsdl:binding
        name="BasicHttpBinding_AddItService" type="i0:AddItService"><wsp:PolicyReference
        URI="#BasicHttpBinding_AddItService_policy"/><soap:binding transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation
        name="GetValues"><soap:operation soapAction="http://services.conzoom.eu/addit/2009/07/AddItService/GetValues"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetValuesInBatch"><soap:operation
        soapAction="http://services.conzoom.eu/addit/2009/07/AddItService/GetValuesInBatch"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetVariableById"><soap:operation
        soapAction="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariableById"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetVariables"><soap:operation
        soapAction="http://services.conzoom.eu/addit/2009/07/AddItService/GetVariables"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation></wsdl:binding></wsdl:definitions>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd0
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://services.conzoom.eu/addit/2009/07" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://services.conzoom.eu/addit/2009/07"><xs:import schemaLocation="http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd2"
        namespace="http://services.conzoom.eu/2007/06"/><xs:element name="GetValues"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" name="input" nillable="true" type="q1:InputRecord" xmlns:q1="http://services.conzoom.eu/2007/06"/><xs:element
        minOccurs="0" name="variables" nillable="true" type="q2:VariableIdSet" xmlns:q2="http://services.conzoom.eu/2007/06"/><xs:element
        minOccurs="0" name="options" nillable="true" type="tns:AddItOptions"/></xs:sequence></xs:complexType></xs:element><xs:complexType
        name="AddItOptions"><xs:sequence/></xs:complexType><xs:element name="Add[...]
- request:
    body: null
    headers:
    method: GET
    uri: http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd2
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://services.conzoom.eu/2007/06" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://services.conzoom.eu/2007/06"><xs:import schemaLocation="http://services.conzoom.eu/addit/AddItService.svc?xsd=xsd1"
        namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType
        name="InputRecord"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded"
        name="Field" nillable="true" type="tns:InputValue"/></xs:sequence></xs:complexType><xs:element
        name="InputRecord" nillable="true" type="tns:InputRecord"/><xs:complexType
        name="InputValue"><xs:sequence><xs:element name="Type" type="tns:InputValueType"/><xs:element
        name="Value" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element
        name="InputValue" nillable="true" type="tns:InputValue"/><xs:simpleType name="InputValueType"><xs:restriction
        base="xs:string"><xs:enumeration value="Street"><xs:annotation><xs:appinfo><EnumerationValue
        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Houseno"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Houseletter"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue></xs:appinfo></xs:annotation></xs:enumeration><xs:enumeration
        value="Floor"><xs:annotation><xs:appinfo><EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationVa[...]
[...]
