interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://pysimplesoap.googlecode.com:443/issues/attachment?aid=1390000000&name=Integrity_10_2.wsdl&token=ABZ6GAe7XF7_ylQgBdOB08F0ijv7td8x5w%3A1426867996622
  response:
    body: {string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<definitions name=\"\
        Integrity_10_2Service\" targetNamespace=\"http://webservice.mks.com/10/2/Integrity\"\
        \ xmlns:ns2=\"http://webservice.mks.com/10/2/Integrity/fault\" xmlns=\"http://schemas.xmlsoap.org/wsdl/\"\
        \ xmlns:ns1=\"http://webservice.mks.com/10/2/Integrity/schema\" xmlns:ns3=\"\
        http://www.w3.org/2005/05/xmlmime\" xmlns:tns=\"http://webservice.mks.com/10/2/Integrity\"\
        \ xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"\
        >\r\n  <types>\r\n    <xs:schema elementFormDefault=\"qualified\" targetNamespace=\"\
        http://webservice.mks.com/10/2/Integrity/schema\" version=\"1.0\" xmlns:tns=\"\
        http://webservice.mks.com/10/2/Integrity/schema\" xmlns:xs=\"http://www.w3.org/2001/XMLSchema\"\
        >\r\n    <!-- <xs:import namespace=\"http://www.w3.org/2005/05/xmlmime\" schemaLocation=\"\
        http://www.w3.org/2005/05/xmlmime\"/> -->\r\n       <xs:element name=\"AttachmentChecksum\"\
        >\r\n            <xs:complexType>\r\n               <xs:sequence>\r\n    \
        \              <xs:element name=\"Field\" type=\"xs:string\"/>\r\n       \
        \           <xs:element name=\"FileName\" type=\"xs:string\"/>\r\n       \
        \           <xs:element name=\"FileSize\" type=\"xs:integer\"/>\r\n      \
        \            <xs:element name=\"Checksum\" type=\"xs:string\"/>\r\n      \
        \            <xs:element name=\"ChecksumAlgorithm\" type=\"xs:string\"/>\r\
        \n               </xs:sequence>\r\n               <xs:attribute name=\"status\"\
        \ type=\"xs:string\"/>\r\n            </xs:complexType>\r\n         </xs:element>\r\
        \n         <xs:element name=\"Fields\">\r\n            <xs:complexType>\r\n\
        \               <xs:sequence>\r\n                  <xs:element maxOccurs=\"\
        unbounded\" minOccurs=\"0\" name=\"Field\">\r\n                     <xs:complexType>\r\
        \n                        <xs:sequence/>\r\n                        <xs:attribute\
        \ name=\"Name\" type=\"xs:string\" use=\"required\"/>\r\n                \
        \        <xs:attribute name=\"Value\" type=\"xs:string\"/>\r\n           \
        \          </xs:complexType>\r\n                  </xs:element>\r\n      \
        \         </xs:sequence>\r\n            </xs:complexType>\r\n         </xs:element>\r\
        \n         \r\n         <xs:complexType name=\"ItemFieldRequest\">\r\n   \
        \         <xs:complexContent>\r\n              <xs:extension base=\"tns:ItemFieldBase\"\
        >\r\n                 <xs:sequence>\r\n                    <xs:element minOccurs=\"\
        0\" name=\"user\" type=\"tns:NullableString\"/>\r\n                 </xs:sequence>\r\
        \n              </xs:extension>\r\n            </xs:complexContent>\r\n  \
        \       </xs:complexType>\r\n \r\n         <xs:complexType name=\"ItemFieldResponse\"\
        >\r\n            <xs:complexContent>\r\n              <xs:extension base=\"\
        tns:ItemFieldBase\">\r\n                 <xs:sequence>\r\n               \
        \     <xs:element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"UserRecord\"\
        \ type=\"tns:UserRecord\"/>\r\n                 </xs:sequence>\r\n       \
        \       </xs:extension>\r\n            </xs:complexContent>\r\n         </xs:complexType>\r\
        \n         \r\n         <xs:complexType name=\"UserRecord\">\r\n         \
        \   <xs:sequence>\r\n               <xs:element minOccurs=\"0\" name=\"user\"\
        \ type=\"tns:NullableString\"/>\r\n               <xs:element minOccurs=\"\
        0\" name=\"fullname\" type=\"tns:NullableString\"/>\r\n               <xs:element\
        \ minOccurs=\"0\" name=\"email\" type=\"tns:NullableString\"/>\r\n       \
        \     </xs:sequence>\r\n         </xs:complexType>\r\n         \r\n      \
        \   <xs:complexType name=\"ItemFieldBase\">\r\n            <xs:choice minOccurs=\"\
        0\">\r\n                <xs:element name=\"shorttext\" type=\"tns:NullableShortString\"\
        />\r\n                  <xs:element name=\"longtext\" type=\"tns:NullableString\"\
        />\r\n                  <xs:element name=\"group\" type=\"tns:NullableString\"\
        />\r\n                  <xs:element name=\"state\" type=\"xs:string\"/>\r\n\
        \                  <xs:element name=\"type\" type=\"xs:string\"/>\r\n    \
        \              <xs:element name=\"project\" type=\"tns:NullableString\"/>\r\
        \n                  <xs:element name=\"siProject\" type=\"tns:NullableString\"\
        />\r\n                  <xs:element name=\"double\" type=\"tns:NullableDouble\"\
        />\r\n                  <xs:element name=\"boolean\" type=\"tns:NullableBoolean\"\
        />\r\n                  <xs:element name=\"integer\" type=\"tns:NullableInteger\"\
        />\r\n                  <xs:element name=\"pick\">\r\n                   \
        \  <xs:complexType>\r\n                        <xs:sequence>\r\n         \
        \                  <xs:element maxOccurs=\"unbounded\" minOccurs=\"0\" name=\"\
        value\" nillable=\"true\" type=\"xs:string\"/>\r\n                       \
        \ </xs:sequence>\r\n                        <xs:attribute name=\"null\" type=\"\
        xs:boolean\"/>\r\n                     </xs:complexType>\r\n             \
        \     </xs:element>\r\n                  <xs:element name=\"relationship\"\
        >\r\n                     <xs:complexType>\r\n                        <xs:sequence>\r\
        \n                           <xs:element maxOccurs=\"unbounded\" minOccurs=\"\
        0\" name=\"value\" nillable=\"true\" type=\"xs:string\"/>\r\n            \
        \            </xs:sequence>\r\n                     </xs:complexType>\r\n\
        \                  </xs:element>\r\n                  <xs:element name=\"\
        date\" type=\"tns:NullableString\">\r\n                     <xs:annotation>\r\
        \n                        <xs:documentation>The value for the date field -\
        \ that is, a date having no time component. The format may be specified \r\
        \nin the DateFormat entity in the request, following the conventions outlined\
        \ at this url: \r\nhttp://java.sun.com/j2se/1.4.2/docs/api/java/text/SimpleDateFormat.html\r\
        \nIf the format is not specified in the request, the default is &quot;yyyy-MM-dd&quot;.\r\
        \nBe careful to not send a date when a timestamp is required.\r\nFor getItem\
        \ [...]
