interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://sdkstage.microbilt.com:443/WebServices/Ex/ExStd.svc?wsdl
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><wsdl:definitions name="ExStdSvc"
        targetNamespace="http://services.microbilt.com/ExStd/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:tns="http://services.microbilt.com/ExStd/v1.0" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://schema.microbilt.com/messages/"
        xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
        xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing"
        xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"><wsp:Policy wsu:Id="httpsDataEndpoint_policy"><wsp:ExactlyOne><wsp:All><sp:TransportBinding
        xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy"><wsp:Policy><sp:TransportToken><wsp:Policy><sp:HttpsToken
        RequireClientCertificate="false"/></wsp:Policy></sp:TransportToken><sp:AlgorithmSuite><wsp:Policy><sp:Basic256/></wsp:Policy></sp:AlgorithmSuite><sp:Layout><wsp:Policy><sp:Strict/></wsp:Policy></sp:Layout></wsp:Policy></sp:TransportBinding></wsp:All></wsp:ExactlyOne></wsp:Policy><wsdl:import
        namespace="http://schema.microbilt.com/messages/" location="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc?wsdl=wsdl0"/><wsdl:types/><wsdl:binding
        name="httpsDataEndpoint" type="i0:MicroBilt.Ex"><wsp:PolicyReference URI="#httpsDataEndpoint_policy"/><soap:binding
        transport="http://schemas.xmlsoap.org/soap/http"/><wsdl:operation name="GetReport"><soap:operation
        soapAction="http://schema.microbilt.com/messages/GetReport" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="GetRawReport"><soap:operation soapAction="http://schema.microbilt.com/messages/GetRawReport"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="GetArchiveReport"><soap:operation
        soapAction="http://schema.microbilt.com/messages/GetArchiveReport" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation><wsdl:operation
        name="Transform"><soap:operation soapAction="http://schema.microbilt.com/messages/Transform"
        style="document"/><wsdl:input><soap:body use="literal"/></wsdl:input><wsdl:output><soap:body
        use="literal"/></wsdl:output></wsdl:operation><wsdl:operation name="Map"><soap:operation
        soapAction="http://schema.microbilt.com/messages/Map" style="document"/><wsdl:input><soap:body
        use="literal"/></wsdl:input><wsdl:output><soap:body use="literal"/></wsdl:output></wsdl:operation></wsdl:binding><wsdl:service
        name="ExStdSvc"><wsdl:port name="httpsDataEndpoint" binding="tns:httpsDataEndpoint"><soap:address
        location="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc"/></wsdl:port></wsdl:service></wsdl:definitions>'}
    headers:
      Content-Type: [text/xml; charset=UTF-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://sdkstage.microbilt.com:443/WebServices/EX/ExStd.svc?wsdl=wsdl0
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><wsdl:definitions targetNamespace="http://schema.microbilt.com/messages/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
        xmlns:tns="http://schema.microbilt.com/messages/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"><wsdl:types><xsd:schema
        targetNamespace="http://schema.microbilt.com/messages/Imports"><xsd:import
        schemaLocation="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc?xsd=xsd0"
        namespace="http://schema.microbilt.com/messages/"/><xsd:import schemaLocation="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc?xsd=xsd1"
        namespace="http://schema.microbilt.com/messages/ExStd/v1_0"/><xsd:import schemaLocation="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc?xsd=xsd2"
        namespace="http://schema.microbilt.com/globals"/></xsd:schema></wsdl:types><wsdl:message
        name="MicroBilt.Ex_GetReport_InputMessage"><wsdl:part name="parameters" element="tns:GetReport"/></wsdl:message><wsdl:message
        name="MicroBilt.Ex_GetReport_OutputMessage"><wsdl:part name="parameters" element="tns:GetReportResponse"/></wsdl:message><wsdl:message
        name="MicroBilt.Ex_GetRawReport_InputMessage"><wsdl:part name="parameters"
        element="tns:GetRawReport"/></wsdl:message><wsdl:message name="MicroBilt.Ex_GetRawReport_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetRawReportResponse"/></wsdl:message><wsdl:message
        name="MicroBilt.Ex_GetArchiveReport_InputMessage"><wsdl:part name="parameters"
        element="tns:GetArchiveReport"/></wsdl:message><wsdl:message name="MicroBilt.Ex_GetArchiveReport_OutputMessage"><wsdl:part
        name="parameters" element="tns:GetArchiveReportResponse"/></wsdl:message><wsdl:message
        name="MicroBilt.Ex_Transform_I[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sdkstage.microbilt.com:443/WebServices/EX/ExStd.svc?xsd=xsd0
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schema.microbilt.com/messages/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://schema.microbilt.com/messages/"><xs:import schemaLocation="https://sdkstage.microbilt.com/WebServices/EX/ExStd.svc?xsd=xsd1"
        namespace="http://schema.microbilt.com/messages/ExStd/v1_0"/><xs:element name="GetReport"><xs:complexType><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="inquiry" type="q1:ExStdRq_Type" xmlns:q1="http://schema.microbilt.com/messages/ExStd/v1_0"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="GetReportResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0"
        maxOccurs="1" name="GetReportResult" type="q2:ExStdRs_Type" xmlns:q2="http://schema.microbilt.com/messages/ExStd/v1_0"/></xs:sequence></xs:complexType></xs:element><xs:element
        name="GetRawReport[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://sdkstage.microbilt.com:443/WebServices/EX/ExStd.svc?xsd=xsd2
  response:
    body: {string: '<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified"
        targetNamespace="http://schema.microbilt.com/globals" xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:tns="http://schema.microbilt.com/globals"><xs:element name="MsgRqHdr"
        type="tns:MsgRqHdr_Type"/><xs:complexType name="MsgRqHdr_Type"><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="MemberId" type="xs:string"/><xs:element
        minOccurs="0" maxOccurs="1" name="MemberPwd" type="xs:string"/><xs:element
        minOccurs="0" maxOccurs="1" name="RequestType"><xs:simpleType><xs:restriction
        base="xs:string"><xs:enumeration value="I"/><xs:enumeration value="J"/><xs:enumeration
        value="N"/><xs:enumeration value="A"/></xs:restriction></xs:simpleType></xs:element><xs:element
        minOccurs="0" maxOccurs="1" name="ReasonCode" type="xs:string"/><xs:element
        minOccurs="0" maxOccurs="1" name="GLBPurpose" type="xs:string"/><xs:element
        minOccurs="0" maxOccurs="1" name="DLPurpose" type="xs:string"/><xs:element
        minOccurs="0" maxOccurs="1" name="RefNum" type="xs:string"/><xs:element minOccurs="0"
        maxOccurs="1" name="UserName" type="xs:string"/><xs:element minOccurs="0"
        maxOccurs="1" name="Timeout" type="xs:long"/><xs:element minOccurs="0" maxOccurs="1"
        name="FrozenFilePIN" type="xs:string"/><xs:element minOccurs="0" maxOccurs="1"
        name="OutputFormat" type="xs:string"/></xs:sequence></xs:complexType><xs:element
        name="PersonInfo" type="tns:PersonInfo_Type"/><xs:complexType name="PersonInfo_Type"><xs:complexContent
        mixed="false"><xs:extension base="tns:Aggregate"><xs:sequence><xs:element
        minOccurs="0" maxOccurs="1" name="PersonName" type="tns:PersonName_Type"/><xs:element
        minOccurs="0" maxOccurs="unbounded" name="ContactInfo" type="tns:ContactInfo_Type"/><xs:element
        minOccurs="0" maxOccurs="1" name="TINInfo" type="tns:TINInfo_Type"/><xs:element
        minOccurs="0" maxOccurs="1" name="BirthDt" type="xs:date"/><xs:element minOccurs="0"
        maxOccurs="1" name="BirthState" type="xs:string"/><xs:element minOc[...]
- request:
    body: !!binary |
      PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c29hcDpFbnZlbG9wZSB4bWxu
      czpzb2FwPSJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy9zb2FwL2VudmVsb3BlLyIgeG1sbnM6
      eHNkPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSIgeG1sbnM6eHNpPSJodHRwOi8v
      d3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSI+Cjxzb2FwOkhlYWRlci8+Cjxzb2Fw
      OkJvZHk+CiAgICA8TWFwIHhtbG5zPSJodHRwOi8vc2NoZW1hLm1pY3JvYmlsdC5jb20vbWVzc2Fn
      ZXMvIj4KICAgIDxidXJlYXVSZXNwb25zZT4xMjM0PC9idXJlYXVSZXNwb25zZT48L01hcD4KPC9z
      b2FwOkJvZHk+Cjwvc29hcDpFbnZlbG9wZT4=
    headers:
      Content-Type: [text/xml; charset="UTF-8"]
      Soapaction: ['"http://schema.microbilt.com/messages/Map"']
    method: POST
    uri: https://sdkstage.microbilt.com:443/WebServices/EX/ExStd.svc
  response:
    body: {string: '<s:Envelope xmlns:s="http://schemas.xmlsoap.org/soap/envelope/"><s:Body
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><MapResponse
        xmlns="http://schema.microbilt.com/messages/"/></s:Body></s:Envelope>'}
    headers:
      Content-Type: [text/xml; charset=utf-8]
    status: {code: 200, message: OK}
version: 1
